* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 62.5%;
}

/* SUPERINFO */
.superinfo-bg {
  background-color: #122ab2;
}
.superinfo {
  display: flex;
  justify-content: space-between;

  max-width: 95rem;
  margin: 0 auto;
  padding: 1rem 0;
}
.superinfo p {
  color: #fff;
  font-size: 1.6rem;
}
.superinfo a {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
}

/* HEADER */
.menu-bg {
  background-color: #2c70ff;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 95rem;
  margin: 0 auto;
  padding: 2rem 0;
}
.menu .menu-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 3.6rem;
}
.menu nav ul {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.menu nav li a {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
}

.introducao {
  max-width: 95rem;
  margin: 0 auto;

  font-size: 4.8rem;
  padding: 5rem 0;
}

.sobre {
  max-width: 95rem;
  margin: 0 auto;

  padding: 60px 0;
  border-top: 4px solid #2C70FF;

  display: flex;
}

.sobre-info {
  margin-right: 50px;
}

.sobre .sobre-titulo {
  font-size: 4.8rem;
  padding-bottom: 4rem;
}

.sobre .sobre-info p {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #7C7C7C;
}
