* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 62.5%;
}


.superinfo-bg {
  background-color: #122AB2;
}
.superinfo {
  display: flex;
  justify-content: space-between;

  max-width: 95rem;
  margin: 0 auto;
}