*,
body,
h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Nunito", sans-serif;
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* SUPERINFO */
.superinfo-bg {
  background-color: #122ab2;
  color: #fff;
}
.superinfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 95rem;
  margin: 0 auto;
  padding: 1rem 0;
}
.superinfo p {
  font-size: 1.6rem;
}
.superinfo a {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none;
}
.superinfo p,
.superinfo a {
  margin: 0 1rem;
}

/* HEADER */
.menu-bg {
  background-color: #2c70ff;
}
.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  max-width: 95rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.menu .menu-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 3.6rem;
  font-weight: bold;
}
.menu nav ul {
  display: flex;
  flex-wrap: wrap;
  
  list-style: none;
}

.menu nav a {
  text-decoration: none;
  font-size: 2rem;
  color: #fff;
  padding: 1rem;
  display: block;
  transition: color .3s ease;
}
.menu nav a:hover {
  color: #122ab2;
}

.introducao {
  max-width: 95rem;
  margin: 0 auto;

  font-size: 4.8rem;
  line-height: 1;
  padding: 5rem 1rem;
}

.sobre {
  max-width: 95rem;
  margin: 0 auto;

  padding: 6rem 0;
  border-top: 4px solid #2c70ff;

  display: flex;
}

.sobre-info {
  margin-right: 50px;
}

.sobre .sobre-titulo {
  font-size: 4.8rem;
  padding-bottom: 4rem;
}

.sobre .sobre-info p {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #7c7c7c;
}
